.bodySection2-container{
    position: relative;
    margin-bottom: 25px;
}

.bodySection2-container h4{
    margin-bottom: 90px;
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
    color: white;
}

.bodySection2-container span{
    content: '';
    position: absolute;
    z-index: 0;
    width: 154px;
    height: 154px;
    background-image: url('../../../../asset/img/body-Images/Section2/Layer_1.png');
    right: 620px;
    top: -45px;
}