.BodySection1-container{
    position: relative;
}

.BodySection1-topSection{
    padding-inline: 150px;
}

.BodySection1-topSection-left{
    position: relative;
    z-index: 3;
    padding-bottom: 40px;
    transition: 0.5s;
}


.BodySection1-topSection img{
    width:1008px;
    height: 567px;
    display: flex;
    align-items: center;
    position: absolute;
    top: -170px;
    right: 0px;
    z-index: 3;
}

.BodySection1-topSection-Icon{
    position: relative;
    width: 84px;
    height: 84px;
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 0.3px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.BodySection1-topSection-Icon img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 12.5px;
    top: 12.5px;
    transition: 0.5s;
}

.BodySection1-topSection-left:hover{
    transform: scale(1.02);
    transition: 0.5s;
    cursor: pointer;
}

.BodySection1-bottomSection{
    padding-bottom: 70px;
}

.BodySection1-filter-shadow{
    filter: drop-shadow(0px 0px 7px rgba(255, 142, 73, 1));
    cursor: pointer;
}