.BodySection1-container{
    position: relative;
    background-color: black;
}

.BodySection1-topSection{
    padding-inline: 150px;
}

.BodySection1-topSection-left{
    padding-top: 200px;
}

.BodySection1-topSection img{
    width:1008px;
    height: 567px;
    display: flex;
    align-items: center;
    position: absolute;
    top: -20px;
    right: 0px;
    z-index: 1;
}

.BodySection1-topSection-Icon{
    width: 84px;
    height: 84px;
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
}


.BodySection1-bottomSection{
    background: linear-gradient(119deg , black 10%,rgb(75, 75, 75,0.25) , rgba(255, 143, 73, 0.301) 40% , rgba(75, 75, 75, 0.25),black);
    padding-bottom: 70px;
}