.ArticleCard-container{
    width: 274px;
    height: 446px;
    border-radius: 20px;
    border: 2px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid;
    border-color: #FF8E49;
    margin-inline: 15px;
    text-align: center;
    padding-inline: 15px;
    cursor: pointer;
}

.ArticleCard-container img{
    width: 240px;
    height: 50%;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-block: 15px;
}

.ArticleCard-fontSize{
    font-size: 12px;
}