html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background:  #00ff77; 
  border-radius: 10px;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: #00c45c; 
  transition: 0.5s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'RetailVariable';
}

a {
  color: inherit;
  text-decoration: none;
}

.color1{
  color:rgba(255, 142, 73, 1);
}

.color2{
  color: rgba(92, 242, 163, 1);
}

.home-layout{
  position: relative;
  width: 100%;
  background-color: rgba(40, 40, 40, 1);
  position: relative;
}

.home-response{
  max-width: 1500px;
  margin-inline: auto;
}

@font-face {
  font-family: 'RetailVariable';
  src: url('../asset/font/RetailVariable.ttf'); 
  font-weight: normal;
  font-style: normal; 
}
