.DescriptionBox-container{
    position: relative;
    width: 345px;
    height: 322px;
    gap: 10px;
    border-radius: 16px;
    opacity: 0px;
    border: 2px solid;
    border-color : linear-gradient(130.71deg, #FFFFFF, rgba(255, 255, 255, 0.5) 113.56%);
    padding-top: 131px;
    padding-inline: 28px;
    margin: 10px;
    background: rgba(154, 81, 255, 0.08);

}

.DescriptionBox-container img{
    position: absolute;
    top: -70px;
    right: 0px;
    max-width: 238px;
    height: 238px;
    display: flex;
}

.DescriptionBox-title{
    font-size: 50px;
    font-weight: 800;
}

.DescriptionBox-text{
    font-size: 16px;
    font-weight: 450;
    line-height: 19.2px;
    text-align: justify;
    text-decoration-skip-ink: none;
}