.HeaderCenterSection-container{
    position: relative;
    width: 525px;
    height: 200px;
    margin-top: 170px;
    text-align: center;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.HeaderCenterSection-container video{
    width: 1500px;
    height: 640px;
    position: absolute;
    left: -500px;
    top: -260px;
    z-index: -1;
    background:black;
    opacity: 0.4;
}

.HeaderCenterSection-container-Btn{
    position: relative;
    z-index: 3;
    width: 192px;
    height: 50px;
    opacity: 1;
    border-radius: 65.58px;
    background: rgba(255, 143, 73, 0.802);
    box-shadow: 0px 4px 20px 0px rgba(255, 142, 73, 0.6);
    border: none;
    transition: 0.5s;
    border: 2px solid rgba(92, 242, 163, 1);
    transform: scale(1);
}

.HeaderCenterSection-container-Btn:hover{
    background-color: rgb(255, 125, 44);
    transition: 0.5s;
    transform: scale(1.05);
}

.HeaderCenterSection-container h1{
    position: relative;
    font-size: 60px;
    font-weight: 900;
    line-height: 90px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 142, 73, 1);
    z-index: 2;
}

.HeaderCenterSection-container h1::before{
    content: attr(data-text);
    position: absolute;
    top: 2px; 
    left: 35px;
    color: transparent;
    -webkit-text-stroke: 1px #ffffffbf;
    z-index: -1;
}

.HeaderCenterSection-bottom-shadow{
    width: 105vw;
    height: 800px;
    background:linear-gradient(to top , rgba(40 , 40 , 40 , 1) 20% ,rgba(40 , 40 , 40 , 0.1));
    position: absolute;
    bottom: -245px;
    right: -475px;
    z-index: 2;
    filter: blur(5);
}  

.HeaderCenterSection-container h1 span{
    color: rgba(92, 242, 163, 1);
}

.HeaderCenterSection-container-Btn-animation-setting{
    --animate-duration: 25s;
    --animate-delay: 1s;
    cursor: pointer;
}

.HeaderCenterSection-container-text-animation-setting{
    position: relative;
    z-index: 3;
    --animate-duration: 5s;
    --animate-delay: 0.2s;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    font-size: 2.3rem;
    height: 130px;
}

.HeaderCenterSection-container-text-animation-setting:hover{
    transition: 1s;
    font-weight: bold;
    font-size: 2.5rem;
}

