.bodySection5-container{
    position: relative;
    /* padding-inline: 152px; */
    color: white;
    padding-bottom: 100px;
}
 
.bodySection5-layout{
    width: 1141px;
    height: 324px;
    gap: 10px;
    border-radius: 18px;
    border: 3px;
    background: linear-gradient(180deg, rgba(255, 142, 73, 0.1) 0%, rgba(255, 142, 73, 0) 100%);
    border: 2.5px solid #5bf3a4;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline:79px;
    padding-block: 50px;
    position: relative;
}

.bodySection5-Icon{
    position: absolute;
    background-image: url('../../../../asset/img/body-Images/Section5/gameIcon2.png');
    width: 300px;
    height: 320.41px;
    top: 0px;
    right: 0px;
    opacity: 0.2px;
}

.bodySection5-title{
    width: 554px;
    height: 120px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    margin-bottom: 20px;
}

.bodySection5-text{
    width: 549px;
    height: 56px;
    font-size: 20px;
    font-weight: 450;
    line-height: 19.2px;
    text-align: left;
}

.bodySection5-container input{
    width: 344px;
    height: 49.84px;
    border-radius: 65.58px;
    backdrop-filter: blur(13.800000190734863px);
    background-color: rgba(223, 223, 223, 0.804);
    padding-inline: 20px;
    margin-bottom: 15px;
    color: black;
    border: 2px solid rgba(92, 242, 162, 0.799);
}

.bodySection5-container button{
    width: 154.22px;
    height: 49.84px;
    top: 189px;
    left: 903.15px;
    border-radius: 65.58px;
    background: rgba(255, 142, 73, 0.66);
    cursor: pointer;
    transition: 0.5s;
    border: 2.5px solid rgba(92, 242, 162, 0.799);
}

.bodySection5-container button:hover{
    background-color: #00ff778f;
    transition: 0.5s;
}