.body-container{
    background-color: rgb(0, 0, 0);
    position: relative;
}

.body-background-image1{
    position: absolute;
    content: '';
    width: 2035.47px;
    height: 1994.11px;
    left: 0px;
    top: -50px;
    filter: blur(50px);
    background:linear-gradient(rgba(0, 0, 0, 5) , rgba(0, 0, 0, 0.5)) , url('../../../asset/img/body-Images/Section2/Vector.png');
    background-color: black;
    background-position-x:-200px ;
    background-position-y: 470px ;
    background-repeat: no-repeat;
}

.body-background-image2{
    position: absolute;
    content: '';
    width: 2035.47px;
    height: 1994.11px;
    filter: blur(150px);
    right: -800px;
    top: 1400px;
    background: url('../../../asset/img/body-Images/Section2/GreenVector.png');
    background-repeat: no-repeat;
}


