.body-container{
    background:linear-gradient(rgba(0, 0, 0, 5) , rgba(0, 0, 0, 0.5)) , url('../../../asset/img/body-Images/Section2/Vector.png');
    background-color: black;
    background-position-x:-200px ;
    background-position-y: 470px ;
    background-repeat: no-repeat;
}

.body-background-image{
    background:linear-gradient(rgba(0, 0, 0, 0.453) , rgba(0, 0, 0, 0.411)), url('../../../asset/img/body-Images/Section2/GreenVector.png');
    background-position-x:160px ;
    background-position-y: 1370px ;
    background-repeat: no-repeat;
}

